
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* TOP HEADER */
header{
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 100px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

h1{
    width: auto;
    align-items: center;
    justify-content: center;
}

#search-form{
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: left;
}

#user-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

.user-container-button{
    width: 50%;
    height: 60%;
}


/* Body*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.song-card{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: left;
    background-color: rgba(207, 207, 207, 0.651);
    width: 90%;
    height: 150px;
    padding: 20px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
    /*TODO: height:170px*/
}

.song-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.song-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    height: 100%;
    z-index: 1;
}

.song-title{
    font-size: 22px;
}
.song-details{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.song-details div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.song-details img{
    width: auto;
    height: 18px;
}

/*Links container*/
.song-links{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 5px;
}
.song-links a{
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: auto;
    height: 30px;
    background-color: rgba(126, 126, 126, 0.466);
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    transition: gap 0.8s ease;
}
.song-links a:hover{
    gap: 6px;
}

.linkIcon{
    width: auto;
    height: 22px;
    border-radius: 4px;
}
.linkText{
    display: block;
    width: auto;
    max-width: 0px;
    margin-right: 0px;
    transform: scaleX(0);
    transition: max-width 0.7s ease, margin-right 0.7s ease, transform 0.4s ease;
}
.song-links a:hover .linkText{
    transform: scaleX(1);
    max-width: 150px;
    margin-right: 20px;
}




.song-cover-container{
    display: block;
    width: 110px;
    height: 110px;
    position: relative;
    transform-style: preserve-3d;
    /*transition: transform 0.5s ease-out;*/
    z-index: 2;
}

.box__face {
  position: absolute;
  width: 110px;
  height: 110px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform-style: preserve-3d;

  will-change: transform;
}

/* Caras del cubo */
.box__face--front  {
  transform: translateZ(55px);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  will-change: transform, opacity;
}
.box__face--front.active{
  box-shadow: 5px 5px 15px rgba(0,0,0,.25);
}
.box__face--right{ 
  transform: rotateY(90deg) translateZ(55px) scaleX(0.2) translateX(-217px);
}
.box__face--left{ 
  transform: rotateY(-90deg) translateZ(63px) scaleX(0.2) translateX(217px);
}
.box__face--top{ 
  transform: rotateX(90deg) translateZ(55px) scaleY(0.2) translateY(217px);
}
.box__face--bottom { 
  transform: rotateX(-90deg) translateZ(55px)  scaleY(0.2) translateY(-217px);
}
.texture{
    display: block;
    position: absolute;
}
.textureTop, .textureBottom{
  width: 134.5%;
  height: 1180%;
  transform: translateX(-21px) translateY(-183px);
  background: rgba(255, 115, 0, 0);
}
.textureRight, .textureSubFront, .textureSubRight, .textureSubTop{
  width: 100%;
  height: 100.2%;
  transform: translateX(0px) translateY(0px);
  background: rgba(255, 115, 0, 0);
}
.textureLeft{
  width: 115%;
  height: 100.2%;
  transform: translateX(0px) translateY(0px);
  background: rgba(255, 115, 0, 0);
}
.textureSubTop, .textureSubBottom{
  width: 100%;
  height: 105%;
  transform: translateX(2px) translateY(0px);
  background: rgba(255, 115, 0, 0);
}

.box__faceSub--front  {
  transform: translateZ(58px) scaleX(0.075) translateX(-790px);
}
.box__faceSub--right  { 
  background: hsla(241, 100%, 50%, 0); 
  transform: rotateY(90deg) translateZ(-55px) scaleX(0.075) translateX(-718px);
}
.box__faceSub--top    { 
  transform: rotateX(90deg) translateZ(55px) scaleY(0.226) scaleX(0.075) translateY(198px) translateX(-789px);
}
.box__faceSub--bottom { 
  transform: rotateX(90deg) translateZ(-55px) scaleY(0.226) scaleX(0.075) translateY(198px) translateX(-789px);
}

.song-cover-reflect-wrapper{
    transform: rotateZ(180deg) translate(-65px, -128px) scale(2);
    perspective: 200px;
}
.song-cover-reflect-black{
  position: absolute;
  display: block;
  width: 110px;
  height: 110px;
  background-color: #444444;
  transform-origin: top;
  transform: rotateX(-70deg) translateX(-62px) translateY(111px);
  transform-style: preserve-3d;
  transition: 0.5s transform ease, 0.3s opacity ease;
  opacity: 1;
  -webkit-mask-image: 
    radial-gradient(circle at bottom right, black 70%, transparent 95%);
    /*
    para trozo negro!
    radial-gradient(circle at bottom left, black 70%, transparent 95%)*/
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}
.song-cover-reflect-black.active{
  transform: rotateX(-70deg) translateX(-70px) translateY(20px);
  opacity: 0.3;
}
.song-cover-reflect{
  position: absolute;
  display: block;
  width: 110px;
  height: 110px;
  transform-origin: top;
  transform: rotateX(-70deg) translateX(-70px) translateY(110px);
  transform-style: preserve-3d;
  transition: 0.5s transform ease, 0.3s opacity ease;
  opacity: 1;
  -webkit-mask-image: 
    radial-gradient(circle at bottom right, black 70%, transparent 95%);
    /*
    para trozo negro!
    radial-gradient(circle at bottom left, black 70%, transparent 95%)*/
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}
.song-cover-reflect.active{
  transform: rotateX(-70deg) translateX(-70px) translateY(20px);
    opacity: 0.3;
}
.song-cover-reflect-filter{
  opacity: 0.4;
  filter: blur(1.5px);
}

.box__face--reflection{
  transform: translateZ(55px);
  background-color: #ffffff70;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  opacity: 0.3;
}

.box__face--scratches-wrapper{
  transform: translateZ(55px);
}
.box__face--scratches{
  opacity: 0.3;
  mix-blend-mode: color-burn;

}